body {
    margin: 0px;
    padding: 0px;
  }
  
  #body_header {
    height: 65vh;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10px;
  }
  .horizontal_list {
    list-style: none;
    padding-left: 0px;
  }
  .horizontal_list li {
    font-family: sans-serif;
    font-size: 1rem;
    display: inline-block;
    margin: 0px 25px 0px 25px;
  }
  
  .horizontal_list li a {
    color:wheat;
    text-decoration: none;
  }
  .horizontal_list li a:hover {
    color: wheat;
    text-decoration: none;
    transition: color 0.5s;
  }
  .text_center {
    text-align: center;
  }
  #heading li {
    display: inline-block;
  }
  #name {
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
    margin-top: 100px;
  }
  .social_media li a i {
    padding: 20px;
    margin: 0px;
    font-size: 20px;
    border-radius: 25%;
  }
  .social_media li a i:hover {
    box-shadow: 0px 0px 4px 6px blue;
  
  }
  section{
    width:100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section:nth-child(2n){
    background-color: #9e9b9b29;
  }
  section:nth-child(2n+1){
    background-color: white;
  }
  section: target{
    background-color:cyan;
  
  }
  .section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    margin:  auto;
    }
  .section-heading span{
    font-size:40px;
    color:#2857a4;
    display:inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
  }
  #about{
    height: auto;
    width: 100%;
  }
  #myimage{
    height: 200px;
    width:200px;
    margin: auto;
    margin-top: -100px;
    }
    #myimage img{
      height:100%;
      width:100%;
      border-radius:50%;
  
    }
    #paragraph{
      padding: 10px;
      width:70%;
      font-family: Arial,sans-serif,Helvetica;
      text-align: justify;
      margin:auto;
      color: Blue;
      line-height: 28px;
      font-weight: 100;
      font-size: 1.1rem;
  
  
    }
  
  .skills-display{
  width:70%;
  
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  
  }
  .skills-progress{
    width: 7rem;
    height:1.4rem;
    border-color: lightgrey;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin-bottom: 20px;
  }
  .skills-progress div{
    border-radius: 20px 0px 0px 20px;
  
  }
  .skill-name span{
    color:black;
    font-size:1rem;
    margin-left:10px;
    font-family: sans-serif;
  
  }
  .mb75px{
    margin-bottom: 75px;
  }
  .text-highlight{
    color: #2857a4;
    font-weight:600;
  }
  .mb-blue{
    background-color: #2857a4;
  }
  .eighty-five-percent{
    width:85%;
    height: inherit;
  }
  .grey{
    background-color:grey;
  }
  .eighty-percent{
    width:80%;
    height: inherit;
  }
  .orange{
    background-color:orange;
  }
  .red{
    background-color: red;
  }
  .timeline{
    position: relative;
    width:70%;
    border:2px solid black;
    }
    .timeline-box{
      position:relative;
      width:40%;
      min-height:150px;
      border:2px solid black;
      margin:5px;
      left:5%
    }
    .timeline-box:nth-child(2n){
      left:53%;
    }
  
    .timeline-box:nth-child(2n+1)::after{
      content: '';
      position: absolute;
      top:30%;
      right:-13%;
      border-radius: 50%;
      width:0.5rem;
      height: 0.5rem;
      background-color: red;
      z-index:1;
    }
    .timeline-box:nth-child(2n)::after{
      content: '';
      position: absolute;
      top:30%;
      left:-10%;
      border-radius: 50%;
      width:0.5rem;
      height: 0.5rem;
      background-color: red;
      z-index:1;
    }
    .timeline-divider{
      position:absolute;
      height: 75%;
      width:0;
      border: 3px dashed blue;
      top:10%;
      left:50%;
  
    }
    .timeline-traveller{
      position: sticky;
      top:25%;
      transform: rotate(90deg);
      z-index:2;
    }
  #project{
    width:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  #project div{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 30px;
  
  
  }
  #project div img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
  }
  #project div :hover{
    height: 220px;
    width:220px;
    transition:all 0.8s ease-in-out;
    box-shadow: 10px 10px grey;
  }
  #contact{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(60deg,blue,purple 70%);
  }
  #footer{
    width:70%;
    height:80%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #footer div{
    height: 90%;
    width: 40%;
    border: 2px solid black;
  }
  @media screen and (max-width:600px){
    .timeline-divider{
      left:5%;
    }
    .timeline-box{
      left:11% !important;
      width: 80%;
    }
    .timeline-box:nth-child(2n+1)::after{
      left:-12%;
    }
  }